@mixin coeur {
    i{
        font-size: 2rem;
        position: absolute;
        right: 2rem;
      }
      .fas {
        color: transparent;
        background-image: linear-gradient(#9356DC, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 300ms;
      }
      &:hover .fas{
        opacity: 1;
        transform: scale(1.2);
      }
} 
    
