@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?famille=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 4px 1px #bebbbb;
  position: relative;
  padding: 1px;
}

.ville h3 {
  color: #5c5a5a;
  font-size: 18px;
  font-weight: 550;
}

.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ebe6e6;
  text-align: center;
  font-size: 1rem;
}
.ville h3 {
  height: 20px;
}

.Reservez {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 20px;
}
.Reservez .BouttonRrestaurants {
  margin-top: 10px;
  margin-bottom: 60px;
  background-image: linear-gradient(#ff79da, #9356DC);
  width: 230px;
  height: 55px;
  color: white;
  border: none;
  border-radius: 2rem;
  box-shadow: 4px 8px 10px -3px grey;
  font-size: 1rem;
}
.Reservez .BouttonRrestaurants:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.ReservezMenu {
  padding-top: 20px;
}

.ReservezDecouvrez {
  font-size: 1.1rem;
  color: grey;
}

.Fonctionnement {
  counter-reset: steps;
}
.Fonctionnement h2 {
  padding: 2rem 0 1rem;
  margin-left: 20px;
}
.Fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1.2rem;
  left: -1rem;
}
.Fonctionnement li {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f3f3f3;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 1px 2px 15px 1px #dddada;
  list-style-type: none;
  margin-right: 6%;
}
.Fonctionnement ol {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}
.Fonctionnement li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}
.Fonctionnement li:hover {
  transform: scale(1.02);
  background-color: #EADBF9;
}
.Fonctionnement li:hover i.fas {
  color: #9356DC;
  cursor: pointer;
}

ol:hover {
  cursor: pointer;
}

.menus {
  background-color: #f6f6f6;
  height: 750px;
  padding-bottom: 30px;
}
.menus h2 {
  padding: 4rem 0;
  margin-left: 20px;
  margin-top: 90px;
  margin-left: 40px;
  padding-bottom: 0px;
}

.carte__description {
  background-color: white;
  height: 25%;
  border-radius: 0 0 1rem 1rem;
  padding-top: 1rem;
  position: relative;
}
.carte__description h3 {
  margin: 0;
  margin-left: 1rem;
}
.carte__description p {
  margin: 0;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.carte__description i {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 30%;
}
.carte__description .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}
.carte__description:hover .fas {
  opacity: 1;
  transform: scale(1.2);
}

.menus .carte {
  border-radius: 1rem;
  height: 17rem;
  flex-grow: 1;
  width: 100%;
  margin-left: 7px;
}

.menus .carte .carte__image {
  height: 17rem;
  background-size: cover;
  border-radius: 1rem;
  gap: 2rem;
}

.menus .carte__image1 {
  grid-column: 1;
  grid-row: 1;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: block;
  width: 100%;
  max-height: 200px;
  border-radius: 1rem 1rem 0 0;
}

.menus .carte__image2 {
  grid-column: 2;
  grid-row: 1;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: block;
  width: 100%;
  max-height: 200px;
  border-radius: 1rem 1rem 0 0;
}

.menus .carte__image3 {
  grid-column: 1;
  grid-row: 2;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: block;
  width: 100%;
  max-height: 200px;
  border-radius: 1rem 1rem 0 0;
}

.menus .carte__image4 {
  grid-column: 2;
  grid-row: 2;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: block;
  width: 100%;
  max-height: 200px;
  border-radius: 1rem 1rem 0 0;
}

.menus__carte {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 15rem 15rem;
  gap: 6rem;
  margin-left: 2%;
  margin-right: -1%;
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  height: 3rem;
  width: 6rem;
  background-color: #99e2d0;
  color: #1b6150;
  font-weight: bold;
  display: grid;
  place-items: center;
  right: 2rem;
  top: 2rem;
}

footer {
  background-color: #353535;
  padding-bottom: 1rem;
}
footer h3 {
  font-family: "shrikhand", "sans-serif";
  color: white;
  font-weight: 400;
  margin-top: 0;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
footer p {
  color: white;
  padding-left: 1.5rem;
}
footer p i {
  padding-right: 0.5rem;
}

.miniscale {
  padding-right: 1rem;
}

#page-resto-1 {
  background-color: #f6f6f6;
}
#page-resto-1 .banner img {
  height: 45vh;
  width: 100%;
  object-fit: cover;
  display: block;
}
#page-resto-1 main {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#page-resto-1 .entrées {
  overflow: hidden;
  animation: apparition 1s;
}
#page-resto-1 .MRestaurant-1 {
  margin-top: -2rem;
  position: relative;
}
#page-resto-1 .MRestaurant-1 h2 {
  font-family: "shrikhand", "sans-serif";
  padding: 2rem 2rem 0 1.5rem;
  margin: 0;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
#page-resto-1 .MRestaurant-1 i {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  margin-top: -30px;
}
#page-resto-1 .MRestaurant-1 .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1500ms;
}
#page-resto-1 .MRestaurant-1:hover .fas {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}
#page-resto-1 .order1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-resto-1 .order {
  display: grid;
  place-items: center;
}
#page-resto-1 .Boutton-commande-1 {
  margin-top: 40px;
  margin-bottom: 60px;
  background-image: linear-gradient(#ff79da, #9356DC);
  width: 200px;
  height: 55px;
  color: white;
  border: none;
  border-radius: 2rem;
  box-shadow: 4px 8px 10px -3px grey;
  font-size: 1rem;
}
#page-resto-1 .Boutton-commande-1:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}
#page-resto-1 .Sligne {
  margin-left: 6%;
  color: gray;
  font-weight: normal;
  font-size: medium;
}
#page-resto-1 p {
  color: gray;
  font-size: 15px;
}
#page-resto-1 .surligner {
  border: 1.7px solid #99e2d0;
  width: 40px;
  margin-top: -11px;
  margin-left: 6%;
  background-color: #99e2d0;
}
#page-resto-1 .prix-menu {
  display: flex;
}
#page-resto-1 .boutton-validé {
  background-color: #99e2d0;
}
#page-resto-1 .cachées {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto-1 .platsDiv {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 1rem;
  max-width: 100%;
  margin: 4%;
  background-color: white;
  position: relative;
  box-shadow: 1px 2px 15px 1px #dddada;
  animation: apparition 2s;
  animation-fill-mode: both;
}
#page-resto-1 .platsDiv:nth-child(6) {
  animation-delay: 1200ms;
}
#page-resto-1 .platsDiv:nth-child(5) {
  animation-delay: 1000ms;
}
#page-resto-1 .platsDiv:nth-child(4) {
  animation-delay: 800ms;
}
#page-resto-1 .platsDiv:nth-child(3) {
  animation-delay: 600ms;
}
#page-resto-1 .platsDiv:nth-child(2) {
  animation-delay: 400ms;
}
#page-resto-1 .platsDiv:nth-child(1) {
  animation-delay: 200ms;
}
#page-resto-1 .platsDiv h4 {
  margin: 0;
  padding: 0.5rem 0.5rem 0 1rem;
  font-size: large;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto-1 .platsDiv p {
  margin: 0;
  padding: 0.5rem 2rem 0.7rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto-1 .platsDiv .boutton-validé {
  height: 68px;
  border-radius: 0 1rem 1rem 0;
  width: 60px;
  opacity: 1;
}
#page-resto-1 .platsDiv .boutton-validé i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35.5% 35.5% 35.5% 35.5%;
  color: white;
  font-size: 25px;
}
#page-resto-1 .prix {
  font-weight: 900;
  color: black;
}
#page-resto-1 header {
  position: relative;
}
#page-resto-1 header .moovearrow {
  position: absolute;
  font-size: x-large;
  display: flex;
  text-align: center;
  align-items: center;
  height: 90%;
  padding-left: 15%;
}
#page-resto-1 .mouvementPrix {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  margin-right: -4rem;
  transition: margin-right 0.5s;
}
#page-resto-1 .platsDiv:hover .mouvementPrix {
  cursor: pointer;
  margin-right: 0;
}
#page-resto-1 .platsDiv:hover .mouvementPrix i {
  animation: spin-boutton 0.5s;
}
@keyframes spin-boutton {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes apparition {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
#page-resto-1 footer p {
  color: white !important;
}

@media (max-width: 1105px) {
  ol {
    flex-direction: column;
    padding-left: 30px;
  }
}
@media (max-width: 975px) {
  .menus {
    height: 1390px;
  }

  .menus__carte {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    gap: 5rem;
    margin-right: -1%;
  }

  .imageR1 {
    grid-column: 1;
    grid-row: 1;
  }

  .imageR2 {
    grid-column: 1;
    grid-row: 2;
  }

  .imageR3 {
    grid-column: 1;
    grid-row: 3;
  }

  .imageR4 {
    grid-column: 1;
    grid-row: 4;
  }
}
@media (max-width: 1205px) {
  #page-resto-1 main {
    flex-direction: column;
  }
}
@media (min-width: 1206px) {
  .entrées {
    width: 33%;
  }

  .plas {
    width: 33%;
  }

  .desserts {
    width: 33%;
  }
}
.loade-0 {
  animation-duration: 1s;
  animation-iteration-count: 2;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: myAnimation 2s forwards;
}
.loade-0::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #ddb8df;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes myAnimation {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
